<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10-Bit Tarot</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div id="app" class="container">
        <div v-if="!showFortune" class="card-stack">
            <div class="card-wrapper" v-for="(card, index) in cards" :key="card.id">
                <div class="card" :style="{ zIndex: cards.length - index }">
                    <div class="card-body">
                        <h5 class="card-title">{{ card.content }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="showFortune" class="fortune-container">
            <h2>Your Fortune</h2>
            <p>{{ readFortune() }}</p>

            <div id="chosen-cards">
                <img v-for="card in showChosenCards" :src="card.image" class="chosen-card-image" />
            </div>

            <button @click="restartGame" class="btn btn-primary mt-3">Get another fortune</button>
        </div>
    </div>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.31/dist/vue.global.js"></script>
    <!-- Interact.js -->
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <!-- Custom JS -->
    <script src="app.js"></script>
</body>

</html>